{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_hangman/hangman.css' %}
{% INCLUDEJS '@mot_hangman/hangman.js' %}

<script>
// <![CDATA[
	var motHangman = {};
	motHangman.tab = {{ SELECTED_TAB }};
// ]]>
</script>

{% if not S_IS_BOT and S_USER_LOGGED_IN %}
	<div id="page-body" class="page-body">
		<div class="forabg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="row-item">
							<dt>
								<div class="list-inner">
									{{ lang('MOT_HANGMAN') }}
								</div>
							</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="panel bg1">
				<div id="tabs" class="tabs">
					<ul>
						<li id="hangman_tab_1" class="tab"><a href="{{ TAB_1 }}">{{ lang('MOT_HANGMAN_TAB_GAME') }}</a></li>
						<li id="hangman_tab_2" class="tab"><a href="{{ TAB_2 }}">{{ lang('MOT_HANGMAN_TAB_WORD') }}</a></li>
						<li id="hangman_tab_3" class="tab"><a href="{{ TAB_3 }}">{{ lang('MOT_HANGMAN_TAB_SCORE') }}</a></li>
						<li id="hangman_tab_4" class="tab"><a href="{{ TAB_4 }}">{{ lang('MOT_HANGMAN_TAB_SUMMARY') }}</a></li>
					</ul>
				</div>
				<div class="panel bg3">
					<div id="hangman_box_1" class="inner" hidden="true">
						{% include 'hangman_game.html' %}
					</div>
					<div id="hangman_box_2" class="inner" hidden="true">
						{% include 'hangman_input_word.html' %}
					</div>
					<div id="hangman_box_3" class="inner" hidden="true">
						{% include 'hangman_score.html' %}
					</div>
					<div id="hangman_box_4" class="inner" hidden="true">
						{% include 'hangman_summary.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% include 'overall_footer.html' %}
