{% include '@mot_hangman/hangman_modal.html' %}
{% INCLUDEJS '@mot_hangman/hangman_game.js' %}

<script>
// <![CDATA[
	motHangman.jsShowCategory = '{{ SHOW_CATEGORY }}';
	motHangman.jsHangmanLetters = {{ MOT_HANGMAN_LETTERS }};
	motHangman.jsImagePath = "{{ IMAGE_PATH|e('js') }}";
	motHangman.jsAllowedPunctMarks = "{{ ALLOWED_PUNCT_MARKS|e('js') }}";
	motHangman.jsClickStart = '{{ CLICK_START_FIRST|e('js') }}';
	motHangman.jsNumberOfLives = {{ HANGMAN_NUMBER_OF_LIVES }};
	motHangman.jsQuote = {{ HANGMAN_QUOTE }};
	motHangman.jsNoQuote = "{{ lang('MOT_HANGMAN_NO_QUOTE')|e('js') }}";
	motHangman.jsLetterPoints = {{ LETTER_POINTS }};
	motHangman.jsWinPoints = {{ WIN_POINTS }};
	motHangman.jsWinString = "{{ lang('MOT_HANGMAN_YOU_WIN')|e('js') }}";
	motHangman.jsWinStringPts = "{{ lang('MOT_HANGMAN_YOU_WIN_PTS')|e('js') }}";
	motHangman.jsLoosePoints = {{ LOOSE_POINTS }};
	motHangman.jsPunishEvaders = '{{ ENABLE_EVADE_PUNISH }}';
	motHangman.jsLooseString = "{{ lang('MOT_HANGMAN_YOU_LOSE')|e('js') }}";
	motHangman.jsShowTerm = '{{ SHOW_TERM_WHEN_LOST }}';
	motHangman.jsShowTermMsg = "{{ lang('MOT_HANGMAN_SHOW_TERM')|e('js') }}";
	motHangman.jsEnableExtraPoints = '{{ ENABLE_EXTRA_POINTS }}';
	motHangman.jsExtraPoints = {{ MOT_HANGMAN_EXTRA_POINTS }};
	motHangman.jsExtraPointsMsg = "{{ lang('MOT_HANGMAN_WIN_EXTRA_POINTS', MOT_HANGMAN_EXTRA_POINTS)|e('js') }}";
	motHangman.jsAction = "{{ U_ACTION|e('js') }}";
	motHangman.jsAjaxCall = "{{ AJAX_CALL|e('js') }}";
// ]]>
</script>

<form id="hangman_game_frm" name="frm" method="post" enctype="application/x-www-form-urlencoded" action="{{ U_ACTION }}">
	<div class="centered_text">
		<h2>{{ lang('MOT_HANGMAN_TITLE') }}</h2>
	</div>

	<p>{{ GAME_DESC }}<br></p>

	<div id="game_content">
		<div id="status">
			{% if SHOW_CATEGORY %}
				<dl style="padding: 4px 0;"><dt><label>&nbsp;</label></dt><dd></dd></dl>
			{% endif %}
			<div id="hm_picture">
				<img src="{{ IMAGE_PATH }}10.svg" width="75" height="125">
			</div>
			<div>
				<p>{{ MOT_HANGMAN_LIVES }}</p>
				<fieldset>
					<dl>
						<dt><label>{{ lang('MOT_HANGMAN_LIVES_USED') }}</label></dt>
						<dd><input id="lives" class="bg2" type="text" size="2" onfocus="lives.blur();" value="0" name="lives" readonly /></dd>
					</dl>
					<dl>
						<dt><label>{{ lang('MOT_HANGMAN_SCORE') }}</label></dt>
						<dd><input id="score" class="bg2" type="text" size="2" onfocus="score.blur();" value="0" name="score" readonly /></dd>
					</dl>
					<dl>
						<dt><input class="button" id="start_button" type="button" value="{{ lang('MOT_HANGMAN_NEW_QUOTE') }}"></dt>
						<dd></dd>
					</dl>
				</fieldset>
			</div>
		</div>

		<div id="game_div">
			<fieldset>
				{% if SHOW_CATEGORY %}
					<dl>
						<dt class="mot-hangman-dt"><label>{{ lang('MOT_HANGMAN_CATEGORY') ~ lang('COLON') }}</label></dt>
						<dd><span id="hangman_category" class="bg2"></span></dd>
					</dl>
				{% endif %}
				<dl>
					<dt class="mot-hangman-dt"><label>{{ lang('MOT_HANGMAN_CREATOR') ~ lang('COLON') }}</label></dt>
					<dd><span id="mot_hangman_creator" class="bg2"></span></dd>
				</dl>

				<dl>
					<textarea class="bg2 tarea" onfocus="word.blur();" id="hangman_word" name="word" cols="100" rows="2">{{ lang('MOT_HANGMAN_NEW_QUOTE_START') }}</textarea>
				</dl>

				<dl>
					<dt><label>{{ lang('MOT_HANGMAN_FAILED_TRIES') ~ lang('COLON') }}</label></dt>
					<dd><input id="tried" class="bg2" type="text" size="30" onfocus="tried.blur();" value="" name="tried" readonly /></dd>
				</dl>

				<dl>
					<dt><label>{{ lang('MOT_HANGMAN_CORRECT_TRIES') ~ lang('COLON') }}</label></dt>
					<dd><input id="correct" class="bg2" type="text" size="30" onfocus="tried.blur();" value="" name="correct" readonly /></dd>
				<dl>
			</fieldset>
		</div>
	</div>

	<div class="letter_table">
		<div class="row_container">
			<div id="row1"></div>
			<div id="row2"></div>
			<div id="row3"></div>
		</div>
	</div>

	<fieldset>
		<input type="text" id="word_id" name="word_id" value="0" hidden="true">
		<input type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" hidden="true">
	{{ S_FORM_TOKEN }}
	</fieldset>
 </form>
