{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_hangman/hangman.css' %}
{% INCLUDEJS '@mot_hangman/hangman.js' %}

<script>
// <![CDATA[
	var motHangman = {};
	motHangman.tab = "{{ SELECTED_TAB|e('js') }}";
// ]]>
</script>

{% if not S_IS_BOT and S_USER_LOGGED_IN %}
	<div id="page-body" class="page-body">
		<div class="forabg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="row-item">
							<dt>
								<div class="list-inner">
									{{ lang('MOT_HANGMAN') }}
								</div>
							</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="panel bg1">
				<div id="tabs" class="tabs">
					<ul>
						<li id="hangman_tab_game" class="tab"><a href="{{ TAB_GAME }}">{{ lang('MOT_HANGMAN_TAB_GAME') }}</a></li>

						{% if ALLOW_TERM_INPUT %}
							<li id="hangman_tab_word" class="tab"><a href="{{ TAB_WORD }}">{{ lang('MOT_HANGMAN_TAB_WORD') }}</a></li>
						{% endif %}

						<li id="hangman_tab_rank" class="tab"><a href="{{ TAB_RANK }}">{{ lang('MOT_HANGMAN_TAB_SCORE') }}</a></li>

						{% if DISPLAY_FAME %}
							<li id="hangman_tab_fame" class="tab"><a href="{{ TAB_FAME }}">{{ lang('MOT_HANGMAN_TAB_FAME') }}</a></li>
						{% endif %}

						<li id="hangman_tab_summ" class="tab"><a href="{{ TAB_SUMM }}">{{ lang('MOT_HANGMAN_TAB_SUMMARY') }}</a></li>
					</ul>
				</div>
				<div class="panel bg3">
					<div id="hangman_box_game" class="inner" hidden="true">
						{% if ALLOW_USER %}
							{% include 'hangman_game.html' %}
						{% else %}
							{% include 'hangman_no_game.html' %}
						{% endif %}
					</div>

					{% if ALLOW_TERM_INPUT %}
						<div id="hangman_box_word" class="inner" hidden="true">
							{% include 'hangman_input_word.html' %}
						</div>
					{% endif %}

					<div id="hangman_box_rank" class="inner" hidden="true">
						{% include 'hangman_score.html' %}
					</div>

					{% if DISPLAY_FAME %}
						<div id="hangman_box_fame" class="inner" hidden="true">
							{% include 'hangman_fame.html' %}
						</div>
					{% endif %}
					<div id="hangman_box_summ" class="inner" hidden="true">
						{% include 'hangman_summary.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% include 'overall_footer.html' %}
