{% INCLUDEJS '@mot_hangman/hangman_input.js' %}

<script>
	motHangman.jsShowCategory = {{ MOT_HANGMAN_SHOW_CATEGORY }};
	motHangman.jsEnforceCategory = {{ MOT_HANGMAN_ENFORCE_CATEGORY }};
	motHangman.jsLcLetters = {{ MOT_HANGMAN_LC_LETTERS }};
	motHangman.jsErrorTitle = "{{ lang('ERROR')|e('js') }}";
	motHangman.jsUnauthLetters = "{{ lang('MOT_HANGMAN_UNAUTH_LETTERS')|e('js') }}";
	motHangman.jsCategoryMissing = "{{ lang('MOT_HANGMAN_CATEGORY_MISSING')|e('js') }}";
	motHangman.jsMinTermLen = {{ MOT_HANGMAN_TERM_MIN_LENGTH }};
	motHangman.jsTermTooShort = "{{ lang('MOT_HANGMAN_TERM_TOO_SHORT')|e('js') }}";
	motHangman.jsAllowedPunctMarks = "{{ MOT_HANGMAN_ALLOWED_PUNCT_MARKS|e('js') }}";
</script>

<div class="centered_text">
	<h2>{{ lang('MOT_HANGMAN_QUOTE_INPUT_HEAD') }}</h2>
</div>

<p>
	{{ MOT_HANGMAN_QUOTE_INPUT_EXPL }}<br>
	{% if MOT_HANGMAN_SHOW_CATEGORY %}
		{{ lang('MOT_HANGMAN_CATEGORY_EXPL') }}<br>
	{% endif %}
	{{ MOT_HANGMAN_INPUT_POINTS }}
</p>

<form id="hangman_quote_input" method="post" enctype="application/x-www-form-urlencoded" action="{{ U_ACTION }}">
	<fieldset>
		<dl>
			<dt><label for="hangman_quote_text">{{ lang('MOT_HANGMAN_QUOTE_INPUT') }}{{ lang('COLON') }}</label></dt>
			<dd><textarea class="inputbox autowidth" id="hangman_quote_text" cols="50" rows="1" maxlength="255" name="hangman_quote_text">{{ HANGMAN_QUOTE_TEXT }}</textarea></dd>
		</dl>
		{% if MOT_HANGMAN_SHOW_CATEGORY %}
			<dl>
				<dt><label for="hangman_quote_category">{{ lang('MOT_HANGMAN_CATEGORY') }}{{ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" id="hangman_quote_category" type="text" size="50" maxlength="255" name="hangman_quote_category" value="{{ HANGMAN_CATEGORY_TEXT }}"></dd>
			</dl>
		{% endif %}
	</fieldset>

	<fieldset>
        <p class="submit-buttons">
            <input class="button" type="submit" id="submit" name="submit" value="&nbsp;{{ lang('SUBMIT') }}&nbsp;">
        </p>
	{{ S_FORM_TOKEN }}
	</fieldset>
</form>
