<!-- INCLUDECSS @dmzx_hangman/hangman.css -->
<!-- INCLUDE overall_header.html -->

<form name="frm">
 <div style="forabg">
	<h2>{L_HANGMAN_TITLE}</h2>
	<table>
	<tr>
	 <td></td>
	 <td>
		<p><img src="{ROOT_PATH}ext/dmzx/hangman/styles/all/theme/images/hmstart3.gif" height="150" width="150" name="hm" alt=""></p>
	 </td>

		<td>
		<table>
		 <tbody>
			<tr>
			<td>{L_HANGMAN_TENLIVES}<br>
			{L_HANGMAN_SCORE}
			 <input type="text" size="2" onfocus="score.blur();" value="0" name="score"> {L_HANGMAN_LIVES_USED}
			 <input type="text" size="2" onfocus="lives.blur();" value="0" name="lives">
			 <input class="nq" type="button" value="{L_HANGMAN_NEW_QUOTE}" onclick="new_word(this.form);">
			 <input class="nq" type="button" disabled="true" value="{L_HANGMAN_RESTART}" onclick="restart(this.form);" name="res">
			</td>
			</tr>
		 </tbody>
		</table>
		</td>
	</tr>

</table><br>

<table class="navbar">
 <tr>
	<td>
	<br>
	<textarea class="tarea" onfocus="word.blur();" name="word" cols="81" rows="1">	{L_HANGMAN_NEW_QUOTE_START}</textarea>
	<br>
	<br>
	{L_HANGMAN_FAILED_TRIES}
	<input type="text" size="25" onfocus="tried.blur();" value="" name="tried">
	{L_HANGMAN_CORRECT_TRIES}
	<input type="text" size="30" onfocus="tried.blur();" value="" name="correct">
	<br>
	<br>
	</td>
	</tr>
</table><br>

<table align="center">
	<tbody>
	<tr>
	<td><input type=button id='A' value=" A "	onclick="seek('A');" class=alpha-butt></td>
	<td><input type=button id='B' value=" B "	onclick="seek('B');" class=alpha-butt></td>
	<td><input type=button id='C' value=" C "	onclick="seek('C');" class=alpha-butt></td>
	<td><input type=button id='D' value=" D "	onclick="seek('D');" class=alpha-butt></td>
	<td><input type=button id='E' value=" E "	onclick="seek('E');" class=alpha-butt></td>
	<td><input type=button id='F' value=" F "	onclick="seek('F');" class=alpha-butt></td>
	<td><input type=button id='G' value=" G "	onclick="seek('G');" class=alpha-butt></td>
	<td><input type=button id='H' value=" H "	onclick="seek('H');" class=alpha-butt></td>
	<td><input type=button id='I' value=" I "	onclick="seek('I');" class=alpha-butt></td>
	<td><input type=button id='J' value=" J "	onclick="seek('J');" class=alpha-butt></td>
	<td><input type=button id='K' value=" K "	onclick="seek('K');" class=alpha-butt></td>
	<td><input type=button id='L' value=" L "	onclick="seek('L');" class=alpha-butt></td>
	<td><input type=button id='M' value=" M "	onclick="seek('M');" class=alpha-butt></td>
	</tr>
	<tr>
	<td><input type=button id='N' value=" N "	onclick="seek('N');" class=alpha-butt></td>
	<td><input type=button id='O' value=" O "	onclick="seek('O');" class=alpha-butt></td>
	<td><input type=button id='P' value=" P "	onclick="seek('P');" class=alpha-butt></td>
	<td><input type=button id='Q' value=" Q "	onclick="seek('Q');" class=alpha-butt></td>
	<td><input type=button id='R' value=" R "	onclick="seek('R');" class=alpha-butt></td>
	<td><input type=button id='S' value=" S "	onclick="seek('S');" class=alpha-butt></td>
	<td><input type=button id='T' value=" T "	onclick="seek('T');" class=alpha-butt></td>
	<td><input type=button id='U' value=" U "	onclick="seek('U');" class=alpha-butt></td>
	<td><input type=button id='V' value=" V "	onclick="seek('V');" class=alpha-butt></td>
	<td><input type=button id='W' value=" W "	onclick="seek('W');" class=alpha-butt></td>
	<td><input type=button id='X' value=" X "	onclick="seek('X');" class=alpha-butt></td>
	<td><input type=button id='Y' value=" Y "	onclick="seek('Y');" class=alpha-butt></td>
	<td><input type=button id='Z' value=" Z "	onclick="seek('Z');" class=alpha-butt></td>
	</tr>
	</tbody>
	</table>
	</div>
 </form>
<!-- INCLUDE overall_footer.html -->